python 
fastapi 
uvicorn 
sentence-transformers 
chroma 
python-multipart 
openai 
pypdf2 
chromadb 
pdfplumber 
langchain-community 
langchain-google-genai 
fitz 
pymupdf 
psycopg2 
sqlmodel 
asyncpg 
passlib 
pycryptodome 
python-jose 
pydanti